<!-- The Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" >
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">Add New User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="addUserForm" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()

                    <div class="mb-3">
                        <label for="Name" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="Name" name="FullName" required>
                    </div>

                    <div class="mb-3">
                        <label for="userName" class="form-label">Email</label>
                        <input type="email" class="form-control" id="userName" name="Email" required>
                    </div>

                    <div class="mb-3">
                        <label for="userPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="userPassword" name="Password" required>
                    </div>

                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="ConfirmPassword" required>
                    </div>

                    <div class="mb-3">
                        <label for="PrfilePicture" class="form-label">Profile Image</label>
                        <input type="file" class="form-control" id="PrfilePicture" name="PrfilePicture" accept="image/*">
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Add</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
